$text: #cdd6f4;
$base: #1e1e2e;
$surface0: #313244;
$mauve: #cba6f7;
* {
  color:$mauve;
  font-size: 15px;
  font-weight: 700;
  font-family: "Iosevka Nerd Font";
  padding: 0;
  margin: 0;
}
#hyprland {
  margin: 0px ;
  background: $base;
  padding: 1px 11px;
  border-style: solid;
  border-radius: 0px 0px 7px 7px;
}
#clock{
  margin: 0px ;
  background: $base;
  padding: 1px 11px;
  border-style: solid;
  border-radius: 0px 0px 0px 7px;
}
#sys{
  margin: 0px ;
  background: $base;
  padding: 1px 11px;
  border-style: solid;
  border-radius: 0px 0px 7px 0px;
}
#volume{
  margin: 0px ;
  background: $base;
  padding: 1px 11px;
  border-style: solid;
}
